<div id="game-container" data-controller="games">
    <div id="game-board"></div>
    <div id="controls">
        <button id="up">Up</button>
        <button id="down">Down</button>
        <button id="left">Left</button>
        <button id="right">Right</button>
        <button id="reset">Reset Game</button>
        <div id="score">Score: 0</div>
    </div>
</div>
