
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #faf8ef;
  font-family: Arial, sans-serif;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

/* To center the main text */
#game-container {
  text-align: center;
}

/* Buttons style */
/* Style for the reset button */
#reset {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  margin-left: auto;
}

/* Hover effect for the reset button */
#reset:hover {
  background-color: darkred;
}

/* Style for the directional buttons */
#up, #down, #left, #right {
  background-color: rgb(234, 216, 145);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

/* Hover effect for the directional buttons */
#up:hover, #down:hover, #left:hover, #right:hover {
  background-color: rgb(184, 170, 114);
}

#score {
  margin-left: 10px;
  font-size: 18px;
}

/* Cell and tiles */
.cell {
  width: 100px;
  height: 100px;
  background-color: #cdc1b4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.tile-2 {
  background-color: #eee4da;
  color: #776e65;
}


.tile-8 {
  background-color: #f2b179;
  color: white;
}

.tile-16 {
  background-color: #f59563;
  color: white;
}

.tile-32 {
  background-color: #f67c5f;
  color: white;
}

.tile-64 {
  background-color: #f65e3b;
  color: white;
}

.tile-128 {
  background-color: #edcf72;
  color: white;
}

.tile-256 {
  background-color: #bea459;
  color: white;
}

.tile-512 {
  background-color: #9a8548;
  color: white;
}

.tile-1024 {
  background-color: #b49024;
  color: white;
}

.tile-2048 {
  background-color: #e9b20d;
  color: white;
}
